# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.dat

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.pdf

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Temporary files
*.tmp
*.temp

# Python virtual environment
venv/
env/